<%= useCustomOnly() %>

<template id="sf_async_head_js" type="template/head">
    {{{ renderScripts().replace(/\<script\s+src=\"\/static\/js\/(main|vendor|vue)\.\w+\.js"\sdefer\>\<\/s+cript\>/g, '').replace(/\sdefer/g, '').replace(/\"\//g, '"http://localhost:3001/') }}}
</template>
<template id="sf_async_head_js" type="template/head">
    {{{ renderScripts().replace(/\<script\s+src=\"\/static\/js\/(manifest|main|vue)\.\w+\.js"\sdefer\>\<\/s+cript\>/g, '').replace(/\sdefer/g, '').replace(/\"\//g, '"http://localhost:3001/') }}}
</template>
<template id="sf_async_head_js" type="template/head">
    {{{ renderScripts().replace(/\<script\s+src=\"\/static\/js\/(manifest|vendor|main)\.\w+\.js"\sdefer\>\<\/s+cript\>/g, '').replace(/\sdefer/g, '').replace(/\"\//g, '"http://localhost:3001/') }}}
</template>
<template id="sf_async_css" type="template/head">
    <style></style>
    {{{ renderStyles() }}}
</template>
<template id="sf_async_body" type="template/vue">
    <!--vue-ssr-outlet-->
</template>
<template id="sf_async_foot_js" type="template/body">
    {{{ renderState() }}}
    {{{ renderScripts().replace(/\<script\s+src=\"\/static\/js\/(manifest|vendor|vue)\.\w+\.js"\sdefer\>\<\/s+cript\>/g, '').replace(/\sdefer/g, '').replace(/\"\//g, '"http://localhost:3001/') }}}
</template>

